
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-mont: 'Montserrat', sans-serif;
  --clr-dark: #fff, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.2rem;
  gap: 2rem;
  background-color: red;
  color: white;
  font-weight: 600;
  align-items: center;
  transition: all 0.3s ease-in-out;
  position: fixed;
  width: 7rem;
  left: -7rem;
  height: 100%;
  z-index: 1;
}

.nav__item {
  width: max-content;
}

.open {
  left: 0;
}

.hamburger {
  position: absolute;
  top: 1rem;
  right: -2.5rem;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger span {
  display: block;
  background-color: black;
  margin: 0.4rem 0;
  height: 0.4rem;
  width: 2.1rem;
  border-radius: 0.15rem;
  transition: 0.3s all ease-in-out;
  position: relative;
}

.change.first-bar {
  top: 0.8rem;
  transform: rotate(45deg);
}

.change.second-bar {
  opacity: 0;
}

.change.third-bar {
  bottom: 0.755rem;
  transform: rotate(-45deg);
}

.brand__name b {
  font-size: 1.5rem;
}

.item_number {
  border-radius: 50%;
  background-color: white;
  color: red;
  padding: 0.1rem 0.5rem;
  position: absolute;
  margin-top: -1.2rem;
  margin-left: 2rem;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 1rem;
}

li {
  list-style: none;
}

.nav__menu li {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease-in-out;
}

.nav__menu li:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}

a {
  text-decoration: none;
  color: white;
}

.icon__hot {
  padding: 0.7rem 0.6rem;
  background-color: #00a950;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 0.7em;
  box-shadow: 0.7rem 0.7rem 1rem rgba(185, 184, 184, 0.6);
}

.icon__like {
  background-image: url('./images/hoverlikeIcon.svg');
  opacity: 0.15;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: transparent;
  padding: 0.1rem 1rem;
}

.icon__like:hover {
  background-image: url('./images/likeIcon.svg');
  opacity: 0.4;
}

.icon__like:active {
  opacity: 1;
}

img {
  object-fit: cover;
  border-radius: 20px;
  width: 40vw;
  height: 50vw;
  margin: 0.7rem;
  transition: 0.3s all ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

.food__icon {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.food__item {
  align-items: center;
  width: 70vw;
  justify-content: center;
  border-radius: 2rem;
  padding: 2rem;
  gap: 0.5rem;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.shift .food__item {
  margin-left: 7rem;
  width: 60vw;
}

.food__item:hover {
  border-radius: 2rem;
  box-shadow: 0.05rem 0.05rem 1rem rgba(185, 184, 184, 0.6);
}

.food__image {
  text-align: center;
  cursor: pointer;
}

.food__name,
.food__area {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 550;
  width: 120%;
}

button {
  background-color: white;
  border-radius: 2rem;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 8px 18px;
  transition: 0.3s all ease-in-out;
  margin-top: 0.5rem;
}

button:hover {
  background-color: red;
  color: white;
  border: 1px solid transparent;
}

button:active {
  scale: 0.85;
}

.foods__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.75rem;
  padding: 1rem;
  place-items: center;
}

/* comment popUp */
.model {
  display: none;
  background-color: rgba(255, 0, 0, 0.455);
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}

.model__content::-webkit-scrollbar {
  display: none;
}

.model__name {
  text-align: center;
  font-weight: 500;
}

.model__prop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding: 1rem 0;
}

.model__item {
  font-family: var(--font-mont);
  font-size: 15px;
  font-weight: 300;
  color: rgb(158, 158, 158);
}

.span__content {
  color: rgb(84, 84, 84);
  font-weight: 400;
}

footer a {
  font-weight: bold;
}

.span__content a {
  color: rgb(84, 84, 84);
}

.span__content a:hover {
  color: red;
}

.show {
  display: block;
}

.close {
  float: right;
  display: block;
  border: none;
  position: relative;
  bottom: 10px;
  left: -50px;
  padding: 0;
}

.close:hover {
  background: none;
  color: black;
  border: none;
  cursor: pointer;
}

.x__btn {
  font-size: 4rem;
  position: fixed;
}

/* model comment */
.form__title {
  font-family: var(--font-mont);
  text-align: center;
  color: rgb(134, 134, 134);
  font-weight: 500;
}

.post__comment {
  /* padding: 2rem 0; */
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post__comment__title {
  font-family: var(--font-mont);
  font-weight: 400;
  color: rgb(134, 134, 134);
  text-align: center;
}

.listed__comment {
  font-family: var(--font-mont);
  font-size: 15px;
  color: rgb(39, 39, 39);
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /* text-align: center; */
}

/* model form */
.comment__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  margin: auto;
  padding-top: 2rem;
}

.input__field {
  padding: 0.5rem;
  font-family: var(--font-mont);
}

.form__btn {
  width: fit-content;
  padding: 0.5rem 0.8rem;
}

/* footer */
footer {
  margin-top: auto;
  background-color: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 0.6rem;
}

.footer__brand span,
.footer__brand b {
  font-size: 1rem;
}

.creator {
  font-weight: 400;
  color: red;
}

/* pop */

.img {
  object-fit: cover;
  border-radius: 20px;
  width: 90%;
  height: 50%;
  margin: 0.7rem;
  transition: 0.3s all ease-in-out;
}

.pop-windo {
  display: block;
  position: fixed;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 32rem;
  height: 90vh;
  border-radius: 1rem;
  background-color: white;
  transition: 0.3s all ease-in-out;
  padding: 1rem;
  overflow-y: scroll;
}

textarea {
  resize: none;
}

.chat {
  width: max-content;
  margin: 0 auto;
}

.pop-windo::-webkit-scrollbar {
  display: none;
}

.slide {
  top: 50%;
}

.food__description {
  width: 50%;
  margin: auto;
}

.food__information {
  width: 50%;
}

/* pop */

/* form message */

.message {
  text-align: center;
  padding: 1rem;
  animation: slideDown 0.3s linear;
}

.success,
.danger {
  line-height: 0;
  display: none;
}

.success {
  color: green;
}

.danger {
  color: red;
}

@media only screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: static;
    width: 100vw;
  }

  .hamburger {
    display: none;
  }

  .nav__menu {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .foods__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .food__item {
    width: 40vw;
  }

  .shift .food__item {
    margin-left: 0;
    width: 40vw;
  }

  img {
    width: 25vw;
    height: 40vw;
  }
}

@media only screen and (min-width: 1200px) {
  .foods__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .food__item {
    width: 20vw;
  }

  .shift .food__item {
    width: 20vw;
  }

  img {
    width: 12.5vw;
    height: 20vw;
  }
}
